@import "susy";

//Variables
$white: #fff;
$offwhite: #f7f7f7;
$blue: #0078d7;
$red: #d02e00;
$text-primary: #000;
$text-secondary: rgba(0, 0, 0, .6);

//Fonts
@font-face {
	font-family: "Selawik";
	src: url("../fonts/selawk.woff") format('woff');
}

@font-face {
	font-family: "Selawik Semilight";
	src: url("../fonts/selawksl.woff") format('woff');
}

//Grid definitions
$susy: (
  columns: 24,
  gutters: 1/4,
  gutter-position: split,
);

$layout1: (
  columns: 12,
  gutters: 1/4,
  gutter-position: split,
);

//Draw the grid
.container {
	@include container(100%);		
	background-color: $white;
}

@media (min-width: 1083px) {

	.nav {
		@include span(6);
	}	
	.main {
		@include span(18);
	}
	
}

// @media (min-width: 767px) {
// 	.nav {
// 		@include span(12 of 24);
// 	}
// }

// @media (max-width: 539px) {
// 	.nav {
// 		@include span(24 of 24);
// 	}
// }

//General styles

a {
	text-decoration: none;
}

ul {
	padding: 0px;
}

ul li {
	list-style-type: none;
}

.nav {
		ul {
			li {
		padding: 5px;
		list-style-type: none;
			a {
			text-decoration: none;
			color: $blue;
			}
		}
	} 
}

.nav {
		ul {
			li.active {
		list-style-type: none;
		background-color: $blue;
			a {
			text-decoration: none;
			color: $white;
			}
		}
	} 
}

.value-stats {
	fill: red;
}